<div class="s-quiz">
    <div class="s-quiz__inner">
        <div class="s-quiz__container">
            <button type="button" class="s-quiz__close s-button s-button--transparent s-button--round s-arrow-link">
                <span class="s-arrow-link__ico">
                    <img src="{{ 'ico-close_black.svg' | asset_url }}" alt="Close">
                    <img src="{{ 'ico-close_black.svg' | asset_url }}" alt="" role="presentation">
                </span>
            </button>
            <div class="s-quiz__head">
                <div class="s-quiz__subtitle">
                    <span>Question <span class="s-quiz__num">01</span></span>
                    <span class="is-last">Results</span>
                </div>
                <div class="s-quiz__title title-h2">
                    <span>When it comes to sex toys would you consider yourself a</span>
                    <span>Do you prefer external stimulation, internal stimulation or both?</span>
                    <span>Are you looking for a toy that you can use on your own, with a partner, or both?</span>
                    <span>Where do you prefer to masturbate - in bed, in the shower, in the bath, or all of the above?</span>
                    <span>What function would you most like in a toy?</span>
                    <span>How important is it to you that your toy is quiet?</span>
                    <span>Enter your email to receive an instant 10% off!</span>
                </div>
            </div>
            <div class="s-quiz__body">
                {% form 'contact', id: 'quiz-form', class:"s-quiz__steps", action:"https://sweetcherrypie.us21.list-manage.com/subscribe/post-json?u=2309812fe370368d9e64611ba&id=48131c0f94&f_id=00fca7e1f0" %}
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="level" value="Beginner" required>
                                <span class="s-radio__btn">Beginner</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="level" value="Intermediate" required>
                                <span class="s-radio__btn">Intermediate</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="level" value="Advanced" required>
                                <span class="s-radio__btn">Advanced</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="level" value="Expert" required>
                                <span class="s-radio__btn">Expert</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" value="External Stimulation" required>
                                <span class="s-radio__btn">External Stimulation</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" value="Internal Stimulation" required>
                                <span class="s-radio__btn">Internal Stimulation</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" value="all" required>
                                <span class="s-radio__btn">Both</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="use_with" value="Own" required>
                                <span class="s-radio__btn">Own</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="use_with" value="Partner" required>
                                <span class="s-radio__btn">Partner</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="use_with" value="all" required>
                                <span class="s-radio__btn">Both</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="location" value="In bed" required>
                                <span class="s-radio__btn">In bed</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="location" value="In the shower" required>
                                <span class="s-radio__btn">In the shower</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="location" value="In the bath" required>
                                <span class="s-radio__btn">In the bath</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="location" value="all" required>
                                <span class="s-radio__btn">All of the above.</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="Suck" required>
                                <span class="s-radio__btn">Suck</span>
                            </label>
                        </div> 
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="Lick" required>
                                <span class="s-radio__btn">Lick</span>
                            </label>
                        </div> 
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="Vibrate" required>
                                <span class="s-radio__btn">Vibrate</span>
                            </label>
                        </div> 
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="Thrust" required>
                                <span class="s-radio__btn">Thrust</span>
                            </label>
                        </div> 
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="Heat" required>
                                <span class="s-radio__btn">Heat</span>
                            </label>
                        </div> 
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="function" value="all" required>
                                <span class="s-radio__btn">A combination of one or more of these</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="noise" value="1" required>
                                <span class="s-radio__btn">1</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="noise" value="2" required>
                                <span class="s-radio__btn">2</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="noise" value="3" required>
                                <span class="s-radio__btn">3</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="noise" value="4" required>
                                <span class="s-radio__btn">4</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-row anim-fade">
                            <label class="s-radio s-radio--big">
                                <input type="radio" class="quiz-field" name="noise" value="Whatever" required>
                                <span class="s-radio__btn">Whatever</span>
                            </label>
                        </div>
                        <div class="s-quiz__step-text">
                            <p>Please make a selection in order to proceed to the next step</p>
                        </div>
                    </div>
                    <div class="s-quiz__step">
                        <div class="s-quiz__step-row anim-fade">
                            <div class="s-input s-input--big">
                                <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" value="{% if customer %}{{ customer.email }}{% endif %}" >
                            </div>
                        </div>
                        <div class="s-quiz__step-final anim-fade">
                            <button type="submit" class="s-button s-button--big s-button--black">
                                <span id="mc-embedded-subscribe-2">Show results</span>
                            </button>
                            <button type="button" class="s-arrow-link s-quiz__step-skip">
                                <span>Skip</span>
                                <div class="s-arrow-link__ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                                        <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                                            <line id="Line_17" data-name="Line 17" x2="25"
                                                transform="translate(177 1814)" fill="none" stroke="#1f454d"
                                                stroke-miterlimit="10" stroke-width="1"></line>
                                            <path id="Path_1178" data-name="Path 1178"
                                                d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)"
                                                fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1">
                                            </path>
                                        </g>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                                        <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                                            <line id="Line_17" data-name="Line 17" x2="25"
                                                transform="translate(177 1814)" fill="none" stroke="#1f454d"
                                                stroke-miterlimit="10" stroke-width="1"></line>
                                            <path id="Path_1178" data-name="Path 1178"
                                                d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)"
                                                fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                {% endform %}
                <div class="s-quiz__bottom">
                    <button type="button" class="s-quiz__bottom-prev s-button s-button--transparent s-button--big"
                        disabled>
                        <span>Previous</span>
                    </button>
                    <div class="s-quiz__bottom-current">
                        <ul class="outline-buttons">
                            <li>
                                <div class="s-button s-button--transparent s-button--round s-arrow-link">
                                    <span class="s-arrow-link__ico">
                                        <span>1</span>
                                        <span>1</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="s-quiz__bottom-next s-button s-button--transparent s-button--big">
                        <span>Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>