$ff-aeonik-air: var(--font-aeonik-air);
$ff-aeonik-airitalic: var(--font-aeonik-airitalic);
$ff-aeonik-black: var(--font-aeonik-black);
$ff-aeonik-blackitalic: var(--font-aeonik-blackitalic);
$ff-aeonik-bold: var(--font-aeonik-bold);
$ff-aeonik-bolditalic: var(--font-aeonik-bolditalic);
$ff-aeonik-light: var(--font-aeonik-light);
$ff-aeonik-lightitalic: var(--font-aeonik-lightitalic);
$ff-aeonik-medium: var(--font-aeonik-medium);
$ff-aeonik-mediumitalic: var(--font-aeonik-mediumitalic);
$ff-aeonik-regular: var(--font-aeonik-regular);
$ff-aeonik-regularitalic: var(--font-aeonik-regularitalic);
$ff-aeonik-thin: var(--font-aeonik-thin);
$ff-aeonik-thinitalic: var(--font-aeonik-thinitalic);

$ff-queensvar: var(--font-queensvar);
$ff-queensvar-italic: var(--font-queensvar-italic);