@mixin last-row($count) { // Для элементов в последнем ряду, $count - максимальное количество элементов в ряду
    &:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}),
    &:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}) ~ & {
        @content;
    }
}

@mixin listreset() {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin buttonreset() {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}
