@import "../vars/index";
@import "../mixins/rem";

:root{
  --color-black: #1F454D;
  --color-white: #ffffff;

  --color-primary: #FFD0CC;
  --color-primary-dark: #B36B77;
  --color-primary-light: #FFF3F2;

  --color-secondary: #1F454D;

  --main-transition: .3s ease-in-out;

}


//dev.scss
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

*, body, html {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  max-height: 9001em;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

input,
select,
textarea{
  border-radius: 0!important;
  &::-webkit-input-placeholder,
  &::placeholder{
    opacity: 0.4!important;
    color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}
b,
strong{
  font-weight: normal!important;
  font-family: $ff-aeonik-medium !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: $ff-aeonik-regular;
  background: var(--color-primary-light);
  color: var(--color-black);
  font-size: Max(1rem, 12px);
  line-height: Max(1.25rem, 16px);
  font-weight: normal;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
}

html{
  font-size: #{$base-value}px;
}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

div img{
  width: 100%;
}

select {
  padding: 0;
  border: unset;
  background-color: transparent;
}

i{
  font-style: normal;
  font-family: $ff-aeonik-regularitalic;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  transition: color var(--main-transition);
}

.global-wrapper {
  position: relative;
  z-index: 7;
}

.message-marquee{
  padding: rem(13) 0;
  text-align: center;
  background: var(--color-primary-dark);
  position: relative;
  z-index: 3;
  .marquee {
    overflow: hidden;
  }
  .marquee_unit {
    padding: 5.5px 12px 5.5px;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: 1px solid rgba(255, 243, 242, 0.2);
    border-radius: 26px;
    text-transform: uppercase;
    flex-shrink: 0;
  }
  .marquee_offset {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .marquee_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    &>*{
      margin-right: rem(50);
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        right: rem(-25);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='AdobeStock_516046892' d='M0,8.018A7.982,7.982,0,0,1,7.982,16h.035A7.982,7.982,0,0,1,16,8.018V7.982A7.982,7.982,0,0,1,8.018,0H7.982A7.982,7.982,0,0,1,0,7.982Z' fill='%237c4a52'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: rem(16);
        height: rem(16);
      }
    }
  }

}

.s-radio{
  display: block;
  position: relative;
  input{
    position: absolute;
    left: -9999px;
  }
  input:checked+*,
  &__btn:hover{
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    border-color: transparent;
  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    padding: rem(7) rem(6) rem(5);
    border-radius: rem(20);
    border: 1px solid var(--color-black);
    cursor: pointer;
    position: relative;
    transition: background-color var(--main-transition), color var(--main-transition), border-color var(--main-transition);
    @media (max-width: 768px) {
      padding: 6px;
    }
  }
  &.s-radio--ico{
    input:checked+*{
      background-color: transparent;
      color: var(--color-black);
      border-color: var(--color-primary);
      &::before{
        opacity: 0;
      }
      &::after{
        opacity: 1;
      }
    }
    .s-radio__btn {
      font-size: Max(0.875rem, 10px);
      line-height: Max(1.25rem, 16px);
      letter-spacing: rem(0.5);
      padding: rem(6) rem(14) rem(5) rem(34);
      border-color: rgba(31, 69, 77, 0.2);
      background-color: transparent;
      color: var(--color-black);
      &::before,
      &::after{
        content: '';
        position: absolute;
        width: rem(20);
        height: rem(20);
        top: 50%;
        left: rem(6);
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity var(--main-transition);
      }
      &::before{
        background-image: url("../assets/ico-radio-unchecked.svg");
      }
      &::after{
        opacity: 0;
        background-image: url("../assets/ico-radio-checked.svg");
      }
    }

    @media (max-width: 768px) {
      .s-radio__btn {
        font-size: 12px;
        line-height: 13px;
        padding-left: 28px;
        padding-right: 10px;
      }
      .s-radio__btn::after, .s-radio__btn::before {
        width: 18px;
        height: 18px;
        left: 4px;
      }
    }
  }
}

.scroll-appearance{
  &-section{}
}

.c-scrollbar{
  z-index: 1000;
}

.s-link{
  position: relative;
  display: block;
  vertical-align: middle;
  -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  -o-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  overflow: hidden;
  padding-bottom: rem(1);
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: block;
    content: attr(data-text);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    -o-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  }
  &>*{
    display: block;
    -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    -o-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  }
  @media (min-width: 991px) {
    &:hover {
      &::before {
        transform: translateY(0%);
      }

      & > * {
        transform: translateY(100%);
      }
    }
  }
}
.subtitle > * {
  font-size: Max(0.875rem, 10px);
  line-height: Max(1.25rem, 16px);
  text-transform: uppercase;
  letter-spacing: rem(.88);
  font-family: $ff-aeonik-regular;
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
}
.title{
  &-epic{
    font-size: rem(110);
    line-height: rem(101);
    @media (max-width: 1560px) {
      font-size: 5.5rem;
      line-height: 5.313rem;
    }
    @media (max-width: 768px) {
      font-size: 52px;
      line-height: 58px;
    }
  }
  &-h1{
    font-size: rem(94);
    line-height: rem(100);
    @media (max-width: 768px) {
      font-size: 42px;
      line-height: 45px;
    }
  }
  &-h2{
    font-size: rem(42);
    line-height: rem(52);
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  &-h3{
    font-size: rem(36);
    line-height: rem(36);
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  &-h4{
    font-size: rem(26);
    line-height: rem(32);
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  &-h5{
    font-size: rem(20);
    line-height: rem(22);
    @media (max-width: 768px) {

    }
  }
  &-h6{
    font-size: rem(16);
    line-height: rem(27);
  }
  &-centered{
    text-align: center;
  }
}
.title-epic,
[class*='title-h']{
  &>*{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: $ff-queensvar;
    color: inherit;
    i,
    .style-italic{
      font-style: normal;
      font-family: $ff-queensvar-italic;
    }
  }
  .split-word{
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    &.no-gap{
      margin-left: -16px;
    }
  }
}

.section {
  &-container{
    display: flex;
    &__block{
      flex-basis: 0;
      flex-grow: 1;
      padding: 36px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      &__block {
        padding: 10px;
        width: 100%!important;
        border-right: none!important;
        border-left: none!important;
        &:not(:last-child):not(.section-container--mob-last){
          border-right: none;
          border-bottom: 1px solid;
        }
        &.section-container--mob-last{
          order: 2;
          border-top: 1px solid;
        }
      }
      &__block.section-container--centered {
        padding: 36px 10px;
        .section-text {
          margin-top: 20px;
        }
        .s-button {
          margin-top: 30px;
        }
      }
    }
  }
  &-img{
    position: relative;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    display: block;
    &>*{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    &[data-scroll]{
      &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: var(--color-primary-light);
        transition: left 1s cubic-bezier(.86,0,.07,1), right 1s cubic-bezier(.86,0,.07,1);
      }
      &.is-scrolled::after,
      &.is-inview::after{
        left: 100%;
      }
    }


    @media (max-width: 768px) {
      max-height: 65vh;
    }
  }
  &-text{
    a{
      color: var(--color-black);
      font-family: $ff-aeonik-regularitalic;
      text-decoration: underline;
    }
    address{
      font-style: normal;
    }
    ul{
      &>li {
        padding-left: rem(20);
        position: relative;
        &:not(:last-child){
          margin-bottom: rem(8);
        }
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: rem(6);
          width: rem(10);
          height: rem(10);
          background-image: url("../assets/ico-star-black.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    ol{
      list-style: none;
      counter-reset: ol-counter;
      padding: rem(10) 0 0;
      margin: 0 0 rem(30);
      &>li{
        position: relative;
        padding-left: rem(48);
        padding-top: rem(8);
        padding-bottom: rem(8);
        counter-increment: ol-counter;
        &:not(:last-child){
          margin-bottom: rem(10);
        }
        &::before{
          content: counter(ol-counter);
          text-align: center;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: rem(36);
          height: rem(36);
          background: var(--color-primary);
          border-radius: 50%;
          -webkit-mask-image: -webkit-radial-gradient(white, black);
        }
        ul{
          margin-top: rem(20);
          margin-bottom: 0;
        }
      }
    }
    ul ul, ol ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 15px;
    }
    ol ol, ul ol {
      list-style-type: lower-latin;
      list-style-position: inside;
      margin-left: 15px;
    }
    &>*:not(:last-child){
      margin-bottom: rem(18);
    }

    h2 {
      font-size: rem(52);
      line-height: rem(58);
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    h3 {
      font-size: 36px;
      line-height: 36px;
      @media (max-width: 768px) {
        font-size: 26px;
        line-height: 30px;
      }
    }
    &-h4{
      font-size: rem(26);
      line-height: rem(32);
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 32px;
      }
    }
    &-h5{
      font-size: rem(20);
      line-height: rem(22);
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    h2,
    h3,
    h4,
    h5 {
      font-family: $ff-queensvar;
      &:not(:first-child) {
        margin-top: 32px;
      }
      &:not(:last-child) {
        margin-bottom: 10px !important;
      }
      i{
        font-family: $ff-queensvar-italic;
      }
    }


    @media (min-width: 769px) {
      line-height: rem(22);
    }
    @media (max-width: 768px) {
      &>*:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
  &-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(90) 14px rem(40);
    border-bottom: 1px solid;
    &.section-heading--centered{
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &.section-heading--vertical{
      flex-direction: column;
      &>*:not(:last-child){
        margin-bottom: rem(20);
      }
    }

    .section-text{
      max-width: rem(604);
      &:last-child{
        margin-bottom: rem(45);
      }
    }

    @media (max-width: 768px) {
      align-items: flex-start;
      padding: 37px 10px 25px;
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 10px;
      }

       .section-text:last-child {
        margin-bottom: 12px;
      }
      .swiper-arrows{
        margin-top: 8px;
      }
    }
  }
}

.outline-buttons{
  display: flex;
  align-items: center;

  & > * {
    background: var(--color-primary-light);
    outline: none;
    border: 1px solid var(--color-primary);
    padding: 13px;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: -17px;
    }
    &:not(:first-child){
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 10px;
        background: var(--color-primary-light);
        top: 8.5px;
        left: -1px;
        bottom: 8.5px;
      }
    }
  }

  @media (max-width: 768px) {
    &>* {
      padding: 10px;
      &:not(:last-child) {
        margin-right: -16px;
      }
    }
  }
}

.swiper-arrows {
  display: flex;
  align-items: center;

  & > * {
    &:not(:last-child) {
      margin-right: rem(-17);
    }
    &:not(:first-child){
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: rem(10);
        background: var(--color-primary-light);
        top: 8.5px;
        left: -1px;
        bottom: 8.5px;
      }
    }
  }


  &-next>* {
    transform: rotate(180deg);
  }
  &-prev,
  &-next{
    background: var(--color-primary-light);
    outline: none;
    border: 1px solid var(--color-primary);
    padding: 13px;
    border-radius: 50%;
    &>* {
      transition: opacity var(--main-transition);
    }
    &.swiper-button-disabled>*{
      opacity: .4;
    }
  }

  @media (max-width: 768px) {
    .swiper-arrows-next, .swiper-arrows-prev {
      padding: 10px;
    }
    .swiper-arrows > :not(:last-child) {
      margin-right: -16px;
    }
  }
}
.swiper-head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  &>*:not(.swiper-head__title){
    flex-grow: 1;
    flex-basis: 0;
    &:last-child{
      display: flex;
      justify-content: flex-end;
    }
  }
  &__title {
    flex-shrink: 0;
  }
  @media(max-width: 768px){
    margin-bottom: 32px;

  }
}
.s-arrow-link{
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;

  &:not(.s-button) {
    padding: 0;
    border: none;
    outline: none;
    pointer-events: all !important;
    background: transparent;
  }
  &:not(.s-button){
    path{
      stroke: #000;
    }
  }
  &__ico{
    width: rem(32);
    height: rem(14);
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:not(:first-child:last-child){
      margin-left: rem(10);
    }
    &>*{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform .2s ease-in-out;
      &:last-child:not(:first-child){
        transform: translateY(calc(100% + 10px));
      }
    }
  }
  @media (min-width: 991px) {
    &:hover {
      .s-arrow-link__ico > * {
        &:first-child {
          transform: translateY(calc(-100% - 10px));
        }

        &:last-child {
          transform: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    &:not(.s-button) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: 991px) {
  [data-pointer-area] {
    cursor: none !important;

    a:not(.s-button):not(.s-card__btn):not(.s-post-card__btn) {
      cursor: none !important;
    }
  }
}

.s-quantity{
  display: flex;
  &>* {
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: rem(6);
    }
  }
  &__btn{
    &.s-button.s-button--round .s-arrow-link__ico {
      width: rem(10);
      height: rem(10);
    }
  }
  input {
    width: rem(32);
    border-radius: 50% !important;
    outline: none;
    border: none;
    text-align: center;
    background: var(--color-primary-dark);
    color: var(--color-primary-light);
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }

  @media (max-width: 768px) {
    &>*,
    .s-button.s-button--round{
      width: 32px;
      height: 32px;
    }
  }
}

.pointer-cursor {
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: rem(140);
  height: rem(94);
  background-image: url("../assets/Cursor-Shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1000;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .3s ease-in-out;
  will-change: transform;
  transform-origin: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  &__label {
    display: block;
    font-family: var(--font-secondary);
    color: var(--color-black);
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
    position: relative;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  &.pointer-cursor--visible{
    transform: scale(1);
    .pointer-cursor__label{
      opacity: 1;
    }
  }

  @media (max-width: 991px) {
    display: none!important;
  }
}

.s-price {
  display: flex;
  align-items: flex-end;
  margin-bottom: rem(10);
  &__new {
    font-size: rem(26);
    line-height: rem(32);
  }
  &__old {
    margin-left: rem(20);
    padding-bottom: rem(2);
    font-size: rem(20);
    line-height: rem(26);
    opacity: .48;
    text-decoration: line-through;
  }
  &.s-price--small{
    .s-price__new {
      font-size: Max(1rem, 13px);
      line-height: rem(20);
      letter-spacing: rem(.5);
    }
    .s-price__old {
      font-size: Max(0.875rem, 11px);
      line-height: rem(16);
      margin-left: rem(8);
    }
  }
  &.s-price--smallest{
    .s-price__new {
      font-size: Max(0.875rem, 12px);
      line-height: rem(20);
      letter-spacing: rem(.5);
    }
    .s-price__old {
      font-size: Max(0.8125rem, 11px);
      line-height: rem(16);
      margin-left: rem(7);
    }
  }
  &.s-price--big{
    .s-price__new {
      font-size: rem(36);
      line-height: rem(36);
      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 768px) {
    &__new {
      font-size: 20px;
      line-height: 24px;
    }
    &__old {
      margin-left: 16px;
      padding-bottom: 0;
      font-size: 16px;
      line-height: 24px;
    }

    &.s-price--smallest{
      .s-price__old {
        padding-bottom: 2px;
      }
    }
  }
}

.s-coupon {
  border-bottom: 1px solid rgba(31,69,77,.2);
  &__title {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 6px;
  }
  &__row {
    display: flex;
  }
  &__input {
    flex-basis: 0;
    flex-grow: 1;
    input{
      padding: rem(18) rem(20) rem(10) 0;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
    }
    &::placeholder{
      opacity: .6!important;
      color: var(--color-black)!important;
    }
  }
  &__btn {
    padding-bottom: rem(16);

    @media (max-width: 768px) {
      padding-bottom: 10px;
    }
  }
}

.s-stars {
  margin-left: rem(10);
  display: flex;
  line-height: 0;
  &>*{
    width: rem(18);
    height: rem(18);
    object-fit: contain;
    &:not(:last-child){
      margin-right: rem(4);
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  &.stars{
    &-1{
      &, &-5{
        &>*:nth-child(1) .ico-star{
          fill: var(--color-primary-dark);
        }
      }
      &-5{
        &>*:nth-child(2) .ico-star-half{
          fill: var(--color-primary-dark);
        }
      }
    }
    &-2{
      &, &-5{
        &>*:nth-child(1) .ico-star,
        &>*:nth-child(2) .ico-star{
          fill: var(--color-primary-dark);
        }
      }
      &-5{
        &>*:nth-child(3) .ico-star-half{
          fill: var(--color-primary-dark);
        }
      }
    }
    &-3{
      &, &-5{
        &>*:nth-child(1) .ico-star,
        &>*:nth-child(2) .ico-star,
        &>*:nth-child(3) .ico-star{
          fill: var(--color-primary-dark);
        }
      }
      &-5{
        &>*:nth-child(4) .ico-star-half{
          fill: var(--color-primary-dark);
        }
      }
    }
    &-4{
      &, &-5{
        &>*:nth-child(1) .ico-star,
        &>*:nth-child(2) .ico-star,
        &>*:nth-child(3) .ico-star,
        &>*:nth-child(4) .ico-star{
          fill: var(--color-primary-dark);
        }
      }
      &-5{
        &>*:nth-child(5) .ico-star-half{
          fill: var(--color-primary-dark);
        }
      }
    }
    &-5{
      .ico-star{
        fill: var(--color-primary-dark);
      }
    }
  }
}

.tag{
  display: block;
  padding: rem(6) rem(14);
  font-size: Max(0.875rem, 10px);
  line-height: Max(1.25rem, 16px);
  letter-spacing: rem(0.5);
  text-transform: uppercase;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary);
  border-radius: rem(42);
  justify-content: center;
  &.tag--off{
    margin-left: auto;
    background: var(--color-primary-dark);
    color: var(--color-primary-light);
    border: none;
  }
  &.tag--best {
    background: var(--color-primary);
    border: none;
    color: var(--color-black);
    text-transform: none;
    position: relative;
    padding-left: rem(29);
    &::before{
      content: '';
      width: rem(14);
      height: rem(14);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem(9);
      background-image: url("../assets/ico-star-black.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media (max-width: 768px) {
      padding: 2px 10px 2px 25px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media (max-width: 768px) {
    padding: 2px 12px;
    font-size: 12px;
    line-height: 20px;
  }
}

.viewport-height{
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.s-card{
  position: relative;
  padding: 10px;
  background: var(--color-white);
  border-radius: 16px;
  &.swiper-slide {
    height: auto;
  }
  &:hover{
    .s-card__img>*{
      &:first-child:not(:last-child) {
        opacity: 0!important;
      }
      &:last-child:not(:first-child) {
        opacity: 1 !important;
      }
    }
  }
  &__tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 rem(-5) rem(10);
    &>*{
      margin: 0 rem(5) rem(10);
    }
  }
  &__inner{
    padding: 19px 21px 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__mask{
    position: absolute;
    left: -9999px;
  }
  &__link{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__img{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 -19px rem(20);
    &>*{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity var(--main-transition);
      &:not(:first-child){
        opacity: 0!important;
      }
    }
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.5%;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    padding: rem(20) 0 rem(6);
    position: relative;
    z-index: 3;
    pointer-events: none;
    .s-button{
      pointer-events: all;
      &::before {
        background-color: #fff;
      }
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(26) -19px 0;
    padding: rem(22) 29px;
    text-transform: uppercase;
    border-top: 1px solid var(--color-primary);
    position: relative;
    z-index: 2;
    &>img,
    &>svg{
      margin-left: rem(10);
      height: rem(14);
      width: auto;
    }
    &>.s-arrow-link{
      margin: -22px -29px;
      padding: 22px 29px;
      width: calc(100% + 58px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title{
    padding: 0 6px;
  }
  &__text{
    margin-top: rem(8);
    letter-spacing: rem(0.36);
    padding: 0 6px;
    margin-bottom: auto;
  }


  &[data-scroll]{
    .s-card__img {
      opacity: 0;
      -webkit-transform: scale(1.3) rotate(8deg);
      -ms-transform: scale(1.3) rotate(8deg);
      transform: scale(1.3) rotate(8deg);
      -webkit-transition: opacity 1s cubic-bezier(.075,0,.165,0), -webkit-transform 1.5s cubic-bezier(.075, .82, .165, 1);
      transition: opacity 1s cubic-bezier(.075,0,.165,0), -webkit-transform 1.5s cubic-bezier(.075, .82, .165, 1);
      -o-transition: transform 1.5s cubic-bezier(.075, .82, .165, 1), opacity 1s cubic-bezier(.075,0,.165,0);
      transition: transform 1.5s cubic-bezier(.075, .82, .165, 1), opacity 1s cubic-bezier(.075,0,.165,0);
      transition: transform 1.5s cubic-bezier(.075, .82, .165, 1), opacity 1s cubic-bezier(.075,0,.165,0), -webkit-transform 1.5s cubic-bezier(.075, .82, .165, 1);
      -webkit-transition-delay: .5s;
      -o-transition-delay: .5s;
      transition-delay: .5s;
    }
    &.is-scrolled,
    &.is-inview{
      .s-card__img{
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 11px;
    &__inner {
      padding: 18px 16px 3px;
    }
    &__tags > * {
      margin-bottom: 0;
    }
    &__row {
      flex-direction: column;
      padding-bottom: 0;
    }
    &__content {
      font-size: 18px;
    }
    &__title{
      &>*{
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.36px;
      }
    }
    &__text{
      margin-top: 4px;
      &>*{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .56px;
      }
    }
    &__btn {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
      .s-button{
        width: 100%;
      }
    }


    .s-card__img {
      margin: 0 -13px 4px;
      max-height: 300px;
      & > * {
        max-height: 300px;
      }
    }
    .s-card__btn {
      margin: 18px -13px 0;
      width: calc(100% + 26px);
      padding: 16px;
      .s-arrow-link__ico {
        width: 32px;
        height: 14px;
      }
    }
    .s-card__img::before {
      padding-top: 74.5%;
    }
  }
}

.s-post-card{
  display: flex;
  &.swiper-slide{
    padding-left: .5px;
  }
  &__img {
    display: block;
    flex-shrink: 0;
    position: relative;
    width: 50.6%;
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    &>*{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: rem(16);
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: rem(50);
  }
  &__category{
    margin-bottom: 26px;
    .tag{
      border-color: var(--color-primary-dark);
    }
  }
  &__title{
    margin-bottom: 16px;
    display: block;
  }
  &__btn{
    margin-top: 42px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .s-post-card__img {
      margin-right: 0;
      width: 100%;
      margin-bottom: 26px;
      max-height: 300px;
    }

    .s-post-card__inner {
      padding: 0;
    }
    .s-post-card__img::before {
      padding-top: 82%;
    }

    .s-post-card__category {
      display: none;
    }

    .s-post-card__title {
      margin-bottom: 14px;
      line-height: 26px;
    }

    .s-post-card__btn {
      margin-top: 26px;
    }
  }
}

.s-socials{
  display: flex;
  align-items: center;
  .s-button.s-button--round .s-arrow-link__ico{
    width: 12px;
    height: 12px;
  }
  & > * {
    background: var(--color-primary-light);
    outline: none;
    border: 1px solid var(--color-primary);
    padding: rem(13);
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: rem(-17);
    }
    &:not(:first-child){
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: rem(10);
        background: var(--color-primary-light);
        top: rem(8.5);
        left: -1px;
        bottom: rem(8.5);

        @media (max-width: 768px) {
          top: 10.5px;
          bottom: 10.5px;
        }
      }
    }
  }

  &.s-socials--black{
    & > * {
      background: var(--color-black);
      border-color: #19373E;
      &:not(:first-child)::before {
        background: var(--color-black);
      }
    }
    .s-button.s-button--round {
      background: #19373E;
      .s-arrow-link__ico{

      }
    }
    path {
      fill: var(--color-primary-light);
    }

  }
}

.s-breadcrumbs{
  max-width: 100%;
  overflow: hidden;
  ul {
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }
  li{
    font-size: Max(0.875rem, 10px);
    line-height: Max(1.25rem, 16px);
    letter-spacing: rem(0.5px);
    text-transform: uppercase;
    color: rgba(255, 243, 242, 0.7);
    white-space: nowrap;
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-right: rem(34);
      position: relative;
      &::after{
        content: '';
        position: absolute;
        right: rem(-11);
        top: 50%;
        transform: translate(100%, -50%);
        width: rem(10);
        height: rem(10);
        opacity: .7;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='AdobeStock_516046892' d='M0,5.011A4.989,4.989,0,0,1,4.989,10h.022A4.989,4.989,0,0,1,10,5.011V4.989A4.989,4.989,0,0,1,5.011,0H4.989A4.989,4.989,0,0,1,0,4.989Z' fill='%23fff3f2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-last-child(2){
      &::after{
        color: inherit;
      }
    }
    &:last-child{
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &>*{
      transition: color var(--main-transition);
      &:hover{
        color: var(--color-primary-light);
      }
    }
  }

  @media (max-width: 768px) {
    li {
      font-size: 10px;
      &:not(:last-child) {
        margin-right: 25px;
        &::after {
          right: -8px;
        }
      }
    }
  }
}

.float-btn{
  position: fixed;
  left: 10px;
  bottom: 10px;
  right: 10px;
  z-index: 990;
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--main-transition), opacity var(--main-transition);
  @media (min-width: 769px) {
    display: none;
  }
  &.is-active{
    opacity: 1;
    transform: translateY(0);
  }
  .s-button{
    width: 100%;
    background: var(--color-primary-light);
    border: 1px solid var(--color-black);
    &.s-button--black{
      border-color: var(--color-primary-light);
    }
  }
}

.s-accordion {
  &-list{}
  &:first-child .s-accordion__head{
    border-top: 1px solid rgba(31, 69, 77, 0.3);
  }
  &.is-open{
    .s-accordion__ico {
      background-color: var(--color-primary-dark);
      border-color: transparent;
      .ico-plus {
        opacity: 0;
      }
      line:not(.ico-plus){
        stroke: #fff;
      }
    }
  }
  &__ico{
    width: rem(32);
    height: rem(32);
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: rem(30);
    transition: border-color var(--main-transition), background-color var(--main-transition);
    img,svg{
      width: rem(10);
      height: rem(10);
      object-fit: contain;
    }
    .ico-plus{
      transition: opacity var(--main-transition);
    }
    line{
      transition: stroke var(--main-transition);
    }
  }
  &__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20) 0;
    letter-spacing: rem(0.5px);
    border-bottom: 1px solid rgba(31, 69, 77, 0.3);
    cursor: pointer;
    &>*:not([class*="title-h"]){
      text-transform: uppercase;
    }
  }
  &__body{
    display: none;
    border-bottom: 1px solid rgba(31, 69, 77, 0.3);
  }
  &__inner{
    padding: rem(26) 0 rem(32);
  }

  &.s-accordion--big{
    .s-accordion__head {
      padding: 46px 32px 44px 36px;
    }
    .s-accordion__body {
      padding: 0 36px;
    }
    .s-accordion__inner {
      padding: 36px 0 42px;
      max-width: 906px;
    }
  }

  @media (max-width: 768px) {
    &:first-child .s-accordion__head {
      border-top: none;
    }
    .s-accordion__head{
      padding: 18px 0;
    }

    .s-accordion__inner {
      padding: 24px 0 26px;
    }


    &.s-accordion--big {
      &:last-child{
        margin-bottom: -1px;
      }
      .s-accordion__body {
        padding: 0 16px;
      }
      .s-accordion__inner {
        padding: 24px 0 26px;
      }
      .s-accordion__head {
        padding: 20px 16px 16px;
        .title-h3 {
          font-size: 24px;
          line-height: 26px;
        }
      }
    }
  }
}

.text-section {
  display: flex;
  &:not(:first-child) {
    border-top: 1px solid;
  }
  &__main{
    flex-basis: 0;
    flex-grow: 1;
    max-width: rem(1024);
    padding: rem(70);
  }
  &__content {
    &>*:not(:last-child){
      margin-bottom: rem(20);
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
    h2:not(:first-child){
      margin-top: rem(47);
    }
    h3:not(:first-child),
    h4:not(:first-child){
      margin-top: rem(40);
    }
    h2,
    h3,
    h4,
    h5{
      text-transform: uppercase;
    }
    h2{
      font-size: rem(38);
      letter-spacing: rem(1);
      line-height: rem(42);
      @media (max-width: 768px) {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32px;
      }
    }
    h3{
      font-size: rem(28);
      letter-spacing: rem(1);
      line-height: rem(36);
    }
    a{
      text-decoration: underline;
    }
    ul{
      list-style: disc;
      padding-left: rem(17);
    }
    b,strong{
      font-weight: normal;
      font-size: rem(18);
      line-height: rem(30);
    }
    ol{
      list-style: none;
      counter-reset: ol-counter;
      padding: rem(10) 0 0;
      margin: 0 0 rem(30);
      &>li{
        position: relative;
        padding-left: rem(48);
        padding-top: rem(8);
        padding-bottom: rem(8);
        counter-increment: ol-counter;
        &:not(:last-child){
          margin-bottom: rem(10);
        }
        &::before{
          content: counter(ol-counter);
          text-align: center;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: rem(36);
          height: rem(36);
          background: var(--color-primary);
          border-radius: 50%;
          -webkit-mask-image: -webkit-radial-gradient(white, black);
        }
        ul{
          margin-top: rem(20);
          margin-bottom: 0;
        }
      }
    }
    li:not(:last-child){
      margin-bottom: rem(10);
    }
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: rem(48) -13px;
  }
  &__block {
    width: calc(50% - 26px);
    margin: 0 13px;
    &:not(:nth-last-child(1)):not(:nth-last-child(2)){
      margin-bottom: rem(36);
    }
    &-img {
      margin-bottom: rem(20);
      position: relative;
      &::before{
        content: '';
        width: 100%;
        display: block;
        padding-top: 60%;
      }
      &>*{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(16);
        -webkit-mask-image: -webkit-radial-gradient(white, black);
      }
    }
    &-title {
      margin-bottom: rem(9);
      &>*{
        font-size: rem(18)!important;
        line-height: rem(20)!important;
        letter-spacing: 0!important;
        text-transform: none!important;
        font-family: $ff-aeonik-medium;
      }
    }

  }
  &__sidebar {
    width: 37.5%;
    border-right: 1px solid;
  }
  &__title {
    padding: rem(70) rem(70) rem(25);
    border-bottom: 1px solid;
  }
  &__sidebar-inner {
    &>ul{
      a{
        display: block;
        padding: rem(25) rem(70);
        font-size: rem(20);
      }
      &>li{
        text-transform: uppercase;
        &::after,
        &::before{
          content: '';
          position: absolute;
          top: rem(25);
          right: rem(38);
          width: rem(21);
          height: rem(21);
          background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22' width='22' height='22'%3E%3Cdefs%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='cp1'%3E%3Cpath d='m-669-1606h1920v5488h-1920z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23000%7D%3C/style%3E%3Cg clip-path='url(%23cp1)'%3E%3Cpath class='a vertical' d='m11 1v20'/%3E%3Cpath class='a' d='m21 11h-20'/%3E%3C/g%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 1;
          transition: opacity var(--main-transition);
          pointer-events: none;
        }
        &::after{
          opacity: 0;
          background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22' width='22' height='22'%3E%3Cdefs%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='cp1'%3E%3Cpath d='m-669-1606h1920v5488h-1920z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23000%7D%3C/style%3E%3Cg clip-path='url(%23cp1)'%3E%3Cpath class='a' d='m21 11h-20'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        &:not(.has-child){
          &::before{
            width: rem(37);
            right: rem(30);
            opacity: 1!important;
            background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 41 16' width='41' height='16'%3E%3Cdefs%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='cp1'%3E%3Cpath d='m-652-1172h1920v4748h-1920z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23000;stroke-linecap:square%7D%3C/style%3E%3Cg clip-path='url(%23cp1)'%3E%3Cpath class='a' d='m2 8h35'/%3E%3Cpath class='a' d='m32 2l6 6-6 6'/%3E%3C/g%3E%3C/svg%3E");
          }
          &.is-open {
            background: transparent;
            &::after {
              opacity: 0;
            }
          }
        }
      }

      li{
        position: relative;
        border-bottom: 1px solid;
        transition: background-color var(--main-transition);
        &.is-open{
          background: var(--color-primary);
          &::before{
            opacity: 0;
          }
          &::after{
            opacity: 1;
          }
        }
        ul{
          border-top: 1px solid;
          display: none;
          text-transform: none;
          li:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
  &__bottom{
    margin-top: rem(70);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__share {
    display: flex;
    align-items: center;
    font-size: rem(18);
    line-height: rem(21);
    &-items {
      display: flex;
      align-items: center;
      margin-bottom: -1px;
      &>*{
        display: block;
        width: rem(20);
        height: rem(20);
        margin-left: rem(20);
        line-height: 0;
        &>*{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__author{
    &>*{
      font-size: rem(18);
      line-height: rem(21);
    }
  }



  @media (max-width: 768px) and (min-width: 575px){
    .text-section__block {
      width: calc(50% - 20px);
      &:nth-last-child(2){
        margin-bottom: 0!important;
      }
    }
  }
  @media (max-width: 574px){
    .text-section__block {
      width: calc(100% - 20px);
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .text-section__blocks {;
      margin: 3rem -10px;
    }
    .text-section__block {
      margin: 0 10px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    .text-section__sidebar {
      width: 100%;
      border-right: none;
    }

    .text-section__title {
      padding: 40px 10px 20px;
    }

    .text-section__sidebar-inner > ul a {
      padding: 20px 10px;
      font-size: 16px;
      padding-right: 55px;
    }

    .text-section__sidebar-inner > ul > li::after, .text-section__sidebar-inner > ul > li::before {
      right: 20px;
      top: 20px;
    }

    .text-section__sidebar-inner > ul > li:not(.has-child)::before {
      right: 11px;
    }

    .text-section__main {
      max-width: 100%;
      padding: 40px 10px;
    }

    .text-section__content h2 {
      font-size: 24px;
      letter-spacing: 0;
      line-height: 32px;
    }

    .text-section__content h3 {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 26px;
    }
  }
}

.overflow-hidden{
  overflow: hidden;
}

.title-animation{
  &.animation-done{
    opacity: 1!important;
    transform: none!important;
  }
}
.text-animation{
  transition: opacity 1.4s ease, transform 1.4s ease;
  opacity: 0;
  transform: translateY(15px);
  &.is-scrolled{
    opacity: 1!important;
    transform: translateY(0)!important;
  }
}
@media (max-width: 768px) {
  .swiper-slide:not(:first-child) .text-animation {
    opacity: 1!important;
    transform: translateY(0)!important;
  }
}


.fancybox-is-open .fancybox-bg {
  opacity: 1;
  background-color: rgba(0,0,0,.34);
  -webkit-backdrop-filter: blur(5px);
}
.global-wrapper {
  transition: filter cubic-bezier(.22,.61,.36,1) .366s;
  will-change: filter;
}
.fancybox-active .global-wrapper {
  filter: blur(10px);
}

.fancybox-content.s-banner-popup{
  padding: 0;
  max-width: rem(1000);
  width: 100%;
  background: transparent;

  @media (max-width: 768px) {
    overflow: visible;
  }
}
.s-banner-popup {

  .fancybox-button {
    top: rem(26);
    right: rem(26);
    height: rem(32);
    width: rem(32);
    background-image: url("../assets/popup-close_white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    svg {
      display: none;
    }
  }

  &__inner {
    display: flex;
    background: var(--color-black);
    border-radius: rem(26);
  }
  &__content {
    width: 50%;
    padding: rem(20);
    &-inner {
      padding: rem(36) rem(36) rem(42);
      display: flex;
      flex-direction: column;
      height: 100%;
      input{
        font-size: Max(1rem, 12px);
        line-height: Max(1.25rem, 18px);
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        padding-bottom: rem(10);
        margin-bottom: rem(42);
        color: var(--color-primary-light);
        border-bottom: 1px solid var(--color-primary-light);
        &::placeholder{
          opacity: .5!important;
          color: var(--color-primary-light)!important;
        }
      }
    }
  }
  &__img {
    width: 50%;
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    &>*{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 rem(26) rem(26) 0;
    }
  }
  &__title {
    font-size: rem(52);
    line-height: rem(58);
    font-family: $ff-queensvar;
    color: var(--color-primary-light);
    margin-bottom: rem(32);
    max-width: rem(340);
  }
  .footer__form-btn {
    margin-top: auto;
    .s-button{
      border: 1px solid var(--color-primary-light);
    }
  }


  @media (max-width: 768px) {
    .s-banner-popup__img {
      display: none;
    }

    .s-banner-popup__content {
      width: 100%;
      padding: 10px;
    }

    .s-banner-popup__content-inner {
      padding: 20px 20px 30px;
    }

    .s-banner-popup__inner {
      border-radius: 16px;
    }

    .s-banner-popup__title {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 26px;
    }

    .s-banner-popup__content-inner input {
      margin-bottom: 25px;
    }

    .fancybox-button {
      top: -36px;
      right: 0px;
      height: 26px;
      width: 26px;
    }
  }
}


.border-image{
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-style: solid;

  &--small-primary{
    border-image-slice: 22 22 22 22;
    border-image-width: 20px 20px 20px 20px;
    border-image-source: url("../assets/border-small-primary.svg");
  }
  &--small-primary-star{
    border-image-slice: 22 22 22 22;
    border-image-width: 20px 20px 20px 20px;
    border-image-source: url("../assets/border-small-primary-star.svg");
  }
  &--medium-primary{
    border-image-slice: 34 34 34 34;
    border-image-width: 31px 31px 31px 31px;
    border-image-source: url("../assets/border-medium-primary.svg");
  }
  &--medium-primary-star{
    border-image-slice: 34 34 34 34;
    border-image-width: 31px 31px 31px 31px;
    border-image-source: url("../assets/border-medium-primary-star.svg");
  }
  &--large-primary{
    border-image-slice: 43 43 43 43;
    border-image-width: 39px 39px 39px 39px;
    border-image-source: url("../assets/border-large-primary.svg");
  }
  &--large-primary-star{
    border-image-slice: 43 43 43 43;
    border-image-width: 39px 39px 39px 39px;
    border-image-source: url("../assets/border-large-primary-star.svg");
  }

  &--small-white{
    border-image-slice: 22 22 22 22;
    border-image-width: 20px 20px 20px 20px;
    border-image-source: url("../assets/border-small-white.svg");
  }
  &--small-white-star{
    border-image-slice: 22 22 22 22;
    border-image-width: 20px 20px 20px 20px;
    border-image-source: url("../assets/border-small-white-star.svg");
  }
  &--medium-white{
    border-image-slice: 34 34 34 34;
    border-image-width: 31px 31px 31px 31px;
    border-image-source: url("../assets/border-medium-white.svg");
  }
  &--medium-white-star{
    border-image-slice: 34 34 34 34;
    border-image-width: 31px 31px 31px 31px;
    border-image-source: url("../assets/border-medium-white-star.svg");
  }
  &--large-white{
    border-image-slice: 43 43 43 43;
    border-image-width: 39px 39px 39px 39px;
    border-image-source: url("../assets/border-large-white.svg");
  }
  &--large-white-star{
    border-image-slice: 43 43 43 43;
    border-image-width: 39px 39px 39px 39px;
    border-image-source: url("../assets/border-large-white-star.svg");
  }

  @media (max-width: 768px) {
    &--small-primary,
    &--medium-primary,
    &--large-primary{
      border-image-slice: 22 22 22 22;
      border-image-width: 20px 20px 20px 20px;
      border-image-source: url("../assets/border-small-primary.svg");
    }

    &--medium-primary-star,
    &--small-primary-star,
    &--large-primary-star{
      border-image-slice: 22 22 22 22;
      border-image-width: 20px 20px 20px 20px;
      border-image-source: url("../assets/border-small-primary-star.svg");
    }

    &--small-white,
    &--medium-white,
    &--large-white{
      border-image-slice: 22 22 22 22;
      border-image-width: 20px 20px 20px 20px;
      border-image-source: url("../assets/border-small-white.svg");
    }
    &--small-white-star,
    &--medium-white-star,
    &--large-white-star{
      border-image-slice: 22 22 22 22;
      border-image-width: 20px 20px 20px 20px;
      border-image-source: url("../assets/border-small-white-star.svg");
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 768px) {
  .mobile-hide{
    display: none!important;
  }
}
@media (min-width: 769px) {
  .mobile-show{
    display: none!important;
  }
}

@media (max-width: 1499px){
  html{
    font-size: 14.5px;
  }
}
@include media-breakpoint-down(xxl) {
  html{
    font-size: 13.5px;
  }
}
@include media-breakpoint-down(xl) {
  html{
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html{
    font-size: #{$base-value}px;
  }
}