@import "../mixins/index";

.s-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: rem(42);
  padding: rem(6) rem(16) rem(6);
  font-size: Max(1rem, 12px);
  line-height: Max(1.25rem, 16px);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &>*:not(.s-arrow-link__ico):not(.s-button__bg){
    position: relative;
    z-index: 2;
    transition: color .17s ease-out;
  }

  &__bg{
    position: absolute;
    transition-property: width;
    transition-timing-function: cubic-bezier(.26,.68,.34,.78);
    transition-duration: 200ms;
    background-color: var(--color-black);
    border-radius: 50%;
    width: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }

  @media (min-width: 992px) {
    &:hover{
      &>* {
        color: #fff!important;
      }
      .s-button__bg{
        width: 200%;
        transition-timing-function: cubic-bezier(0.5, 0, 0.85, 1);
        transition-duration: 200ms;
      }
    }
  }
  &.s-button{
    &--white {
      background: var(--color-primary-light);
      border: 1px solid var(--color-primary-light);
    }
    &--transparent{
      background-color: transparent;
      border: 1px solid var(--color-black);
      color: var(--color-black);
      path{
        stroke: var(--color-black);
      }

      &.s-button--white {
        color: var(--color-primary-light);
        border-color: var(--color-primary-light);
        path {
          stroke: var(--color-primary-light);
        }
      }
      &.s-button--primary-dark {
        border-color: var(--color-primary-dark);
        color: var(--color-primary-dark);

        path {
          stroke: none;
        }
      }
    }
    &.s-button--primary-light {
      border-color: var(--color-black);
      background: var(--color-primary-light);
    }
    &.s-button--black {
      background: var(--color-black);
      color: var(--color-primary);
      .s-button__bg{
        background-color: var(--color-primary-dark);
      }
      path{
        stroke: var(--color-primary);
      }
    }
    &--round{
      padding: 0;
      width: rem(32);
      height: rem(32);
      border-radius: 50%;
      .s-arrow-link__ico {
        width: rem(15);
        height: rem(15);
      }
      @media (max-width: 768px) {
        width: 36px;
        height: 36px;
      }
    }
    &--big{
      padding: rem(8) rem(32);
      font-size: rem(42);
      line-height: rem(50);
      text-transform: none;
      @media (max-width: 768px) {
        padding: 6px 30px;
        font-size: 32px;
        line-height: 38px;
        min-width: 300px;
      }
    }
  }


  @media (max-width: 768px) {
    padding: 8px 16px;
  }
}