<section class="s-results" data-scroll-section>
    <div class="s-results__head">
        <form class="s-results__form">
            <div class="s-input">
                <input type="hidden" name="type" value="product">
                <input type="text" placeholder="Search for toys.." name="q" value="{{ search.terms | escape }}"
                    required>
            </div>
            <div class="s-results__head-btn">
                <button type="submit" class="s-button s-button--transparent">
                    <span>Search</span>
                </button>
            </div>
        </form>
    </div>

    <div class="s-results__container">
        {% if search.results.size > 0 %}
            {% for item in search.results %}
                {% assign product = item %}
                    {% render 'search-card',
                        product: product,
                        grid_style:layout_style,
                        filter_tag: get_tag
                    %}
            {% endfor %}
        {% else %}
            <p>No search results</p>
        {% endif %}
    </div>
</section>

{% schema %}
    {
        "name": "Search",
        "tag": "div",
        "class": "noboderbottom",
        "settings": [
        ]
    }
{% endschema %}