<section class="s-promo s-promo--bg" data-scroll-section>
  <div class="container">
    <div class="s-promo__container">
      <div class="s-promo__content">
        <div class="s-breadcrumbs">
          <ul>
            <li>Error 404 Page Not Found</li>
          </ul>
        </div>
        <div class="title-epic title-animation" data-scroll data-scroll-call="title-visible">
          <h1><i>Unfortunately</i> this page cannot be found</h1>
        </div>
        <div class="s-promo__btn">
          <a href="{{ shop.url }}" class="s-button s-button--white s-button--big">
            <span>Back to home</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>