<div style="display: none">
  <div class="s-banner-popup" id="sign-up-popup">
    <div class="s-banner-popup__inner">
      <div class="s-banner-popup__content">
        {% form 'contact', id: 'newsletter-popup-form', class:"s-banner-popup__content-inner border-image border-image--medium-primary-star", action:"https://sweetcherrypie.us21.list-manage.com/subscribe/post-json?u=2309812fe370368d9e64611ba&id=48131c0f94&f_id=00fca7e1f0" %}
            <div class="s-banner-popup__title">
              <span>{{ settings.popup_message }}</span>
            </div>
            <div class="footer__form-input">
              <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_2309812fe370368d9e64611ba_48131c0f94" tabindex="-1" value=""></input>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe"></input>
              </div>
            </div>
            <div class="footer__form-btn">
              <button class="s-button s-button--primary-light s-button--big" type="submit">
                <span id="mc-embedded-subscribe">Subscribe</span>
              </button>
            </div>
            {{ form.errors | default_errors }}
        {% endform %}

        <p style="display: none;" class="form-message success">Thanks for subscribing!<br>Keep an eye on your inbox for the discount code x</p>
        <p style="display: none;" class="form-message error">There was an error. Please try again later or contact us at <a href="mailto:info@sweetcherrypie.co">info@sweetcherrypie.co</a></p>
      </div>
      <div class="s-banner-popup__img">
        <img src="{{ settings.popup_image | img_url: '' }}" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>