<div style="display: none">
  <div class="s-banner-popup" id="sign-up-popup">
    <div class="s-banner-popup__inner">
      <div class="s-banner-popup__content">
        <form class="s-banner-popup__content-inner border-image border-image--medium-primary-star">
          <div class="s-banner-popup__title">
            <span>{{ settings.popup_message }}</span>
          </div>
          <div class="footer__form-input">
            <input type="email" name="email" placeholder="Enter your email" required>
          </div>
          <div class="footer__form-btn">
            <button class="s-button s-button--primary-light s-button--big" type="submit">
              <span>Subscribe</span>
            </button>
          </div>
        </form>
      </div>
      <div class="s-banner-popup__img">
        <img src="{{ settings.popup_image | img_url: '' }}" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>