$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-gray: #A8A8A8 !default;

$color-primary: #CC2528 !default;

// Color system:
// 'colorName': 'color'
$colors: (
        "black": $color-black,
        "white": $color-white,
        "gray": $color-gray,
        "primary": $color-primary,
);