@import "../mixins/rem";

.s-about-main{
  .subtitle {
    margin-bottom: rem(20);
    color: var(--color-primary-light);
  }
  &__bg {
    line-height: 0;
    position: relative;
    z-index: 1;
    margin-bottom: rem(-90);
    overflow: hidden;
    height: 90vh;
    max-height: rem(1060);
    & img{
      height: 90vh;
      object-fit: cover;
      max-height: rem(1060);
    }
  }
  &__container {
    background: var(--color-black);
    position: relative;
    z-index: 2;
    border-radius: rem(62) rem(62) 0 0;
    padding: rem(30) 0 rem(152);
  }
  &__scroller {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    z-index: 2;
    &-img {
      width: 24.6%;
      margin-right: rem(136);
      flex-shrink: 0;
      position: relative;
      @media (min-width: 769px) {
        height: 100vh;
        display: flex;
        align-items: center;
        //@media (max-width: 1440px) {
        //  max-height: 493px;
        //}
        & > * {
          height: 100%;
          object-fit: contain;
        }
        @media (max-width: 1440px) {
          width: 28.6%;
          margin-right: 5.5rem;
        }
        @media (max-width: 1280px) {
          width: 37.6%;
        }
        @media (max-width: 991px) {
          max-height: 620px;
        }
        @media (max-width: 836px) {
          max-height: 450px;
        }
      }
    }
    &-text {
      color: rgba(255, 243, 242, 0.2);
      width: 100%;
      padding-top: calc(((100vh - (((100vw - 72px) * 0.246) * 1.377)) / 2));
      @media (max-width: 1440px) and (min-width: 768px){
        padding-top: calc(((100vh - (((100vw - 72px) * 0.286) * 1.377)) / 2));
      }
      @media (max-width: 1440px) and (min-width: 768px){
        padding-top: calc(((100vh - (((100vw - 72px) * 0.376) * 1.377)) / 2));
      }
      @media (max-width: 991px) {
        padding-top: calc(((Min(100vh, 620px) - (((100vw - 72px) * 0.376) * 1.377))/ 2));
      }
      @media (max-width: 836px) {
        padding-top: calc(((Min(100vh, 450px) - (((100vw - 72px) * 0.376) * 1.377))/ 2));
      }
      &__inner {
        max-width: rem(1080);
        .split-char {
          transform: none !important;
          transition: color var(--main-transition);
          &.act {
            color: var(--color-primary-light);
          }
        }
      }
    }
  }
  &__text{
    margin-top: rem(288);
    max-width: rem(450);
    margin-left: auto;
    color: var(--color-primary-light);
    margin-right: 11.4%;
  }
  &__elem{
    position: absolute;
    z-index: 1;
    &.elem1{
      right: -2px;
      top: 17%;
      width: rem(180);
    }
    &.elem2{
      right: 34%;
      top: 84.4%;
      width: rem(110);
    }
    &.elem3{
      right: rem(-220);
      top: 89%;
      width: rem(388);
    }
  }

  @media (max-width: 768px) {
    &__container{
      padding-top: 42px;
    }
    .subtitle {
      margin-bottom: 16px;
    }
    &__scroller{
      flex-direction: column;
      &-text{
        padding-top: 0;

      }
    }
    &__text{
      margin-top: 42px;
    }



    .s-about-main__bg > * {
      height: 500px;
    }

    .s-about-main__bg {
      margin-bottom: -32px;
      max-height: 498px;
    }

    .s-about-main__container {
      border-radius: 32px 32px 0 0;
    }
    .s-about-main__elem {
      display: none;
    }

    .s-about-main__text {
      margin-right: 0;
      font-size: 14px;
      line-height: 20px;
    }
    .s-about-main__scroller>.s-about-main__scroller-img {
      display: none;
    }
    .s-about-main__container {
      padding-bottom: 68px;
    }

    .s-about-main__scroller-img {
      width: 100%;
      margin-right: 0;
      padding-top: 42px;
      &>*{
        object-fit: contain;
        height: 346px;
      }
    }
  }
}