@import "../mixins/rem";

.s-banner{
  position: relative;
  .subtitle{
    margin-bottom: rem(26);
  }
  .s-button{
    margin-top: rem(52);
  }
  &__content {
    color: var(--color-white);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: Min(85vh, 56.25rem);
    &>*{
      max-width: rem(1200);
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    &>*{
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }

  @media (max-width: 768px) {
    .s-banner__content {
      padding: 84px 0 108px;
      height: auto;
      min-height: unset;
    }
    .subtitle {
      margin-bottom: 20px;
    }
    .s-button {
      margin-top: 32px;
    }

  }
}