@import "../mixins/rem";

.s-reviews{
  background-color: var(--color-black);
  .title-h2{
    @media (min-width: 769px) {
      font-size: rem(52);
      line-height: rem(54);
    }
    color: var(--color-primary-light);
    text-align: center;
  }
  &__container{
    max-width: rem(900);
    margin: 0 auto;
    text-align: center;
    padding: rem(100) 0;
    min-height: Min(80vh, 54rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 768px) {

    &__container{
      min-height: Min(100vh, 1000px);
    }
  }
}