@import "../mixins/rem";

.s-cart{
  padding: rem(136) 0 rem(150);
  background: #fff;
  &__container {
    width: 100%;
    max-width: rem(1228);
    margin: 0 auto;
        
    &.in-process {
      opacity: 0.4;
      cursor: disabled;
    }
  }
  &__list {
    width: 100%;
    margin-bottom: rem(68);
    &>*{
      border-bottom: 1px solid var(--color-black);
      &:first-child{
        border-top: 1px solid var(--color-black);
      }
    }
    .s-cart__row{
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
  &__block {
    display: flex;
    width: calc(100% + 4.25rem);
    margin: 0 -2.125rem;
    align-items: flex-end;
    &-item{
      width: calc(100% - 4.25rem);
      margin: 0 2.125rem;
    }
  }
  &__item {
    display: flex;
    padding: rem(10) 0;
    align-items: center;
    &-img {
      width: 19.6%;
      flex-shrink: 0;
      position: relative;
      margin-right: rem(36);
      &::before{
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
      }
      &>*{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(16);
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(68);
    border-bottom: 1px solid rgba(31, 69, 77, 0.2);
    padding: rem(10) 0;
    &:first-child{
      border-top: 1px solid rgba(31, 69, 77, 0.2);
    }
    .s-price{
      margin-bottom: 0;
      &.s-price--big{
        padding: rem(13) 0;
      }
    }
    &-label{
      letter-spacing: rem(.5);
      text-transform: uppercase;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
    margin-top: rem(68);
    .s-button.s-button--black {
      color: #fff;
    }
  }
  @media (max-width: 768px) {
    padding: 50px 0;
    .s-cart__block {
      width: 100%;
      margin: 0;
      flex-direction: column;
    }

    .s-cart__block-item {
      width: 100%;
      margin: 0;
    }

    .s-cart__item-img {
      width: 23%;
      margin-right: 16px;
    }

    .s-cart__list .s-cart__row:first-child {
      border-top: 1px solid rgba(31,69,77,.2);
    }

    .s-cart__list {
      margin-bottom: 50px;
    }

    .s-cart__submit {
      margin-top: 50px;
    }

  }
}