@import "../mixins/rem";

.s-occasion{
  [data-hover-img]{
    transition: opacity var(--main-transition);
    &:not(:first-child){
      opacity: 0;
    }
  }
  .section-img[data-scroll].is-scrolled::after,
  .section-img[data-scroll].is-inview::after{
    left: 0;
    right: 100%;
  }
  &__content{
    background: #fff;
    padding: rem(31);
    min-height: Min(100vh, 67.5rem);
    @media (min-width: 769px) {
      max-width: 50%;
    }
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(32);
  }
  &__img{
    padding: 0;
    background: var(--color-primary);
  }
  .subtitle {
    margin-bottom: rem(30);
    text-align: center;
  }
  &__text {
    margin: rem(30) 0 0;
    max-width: rem(360);
    & > * {
      text-align: center;
      font-size: Max(1rem, 12px);
      line-height: Max(1.25rem, 18px);
    }
  }
  &__list{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li{
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
      a>*{
        opacity: 0;
        transform: translateY(15px);
        transition: transform 1.3s cubic-bezier(.075,.82,.165,1) .6s, opacity 1.3s cubic-bezier(.075,.82,.165,1) .6s;
      }
      &.is-scrolled,
      &.is-inview{
        a>* {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    a{
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: $ff-queensvar;
      font-size: rem(36);
      line-height: rem(46);
      width: 100%;
      transition: padding var(--main-transition);

      @media (min-width: 769px) {
        &:hover {
          padding: rem(39) 0;

          &::before {
            opacity: 1;
          }
        }
      }
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        height: rem(110);
        opacity: 0;
        transition: opacity var(--main-transition);
        background-position: center;
        background-repeat: no-repeat;
        width: calc(100% + 4.1875rem);
        transform: translateY(-48%);
        background-size: 100% 100%;
        min-width: rem(340);
        background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' width='338' height='110' viewBox='0 0 338 110'%3E%3Cg id='Union_17' data-name='Union 17' fill='none'%3E%3Cpath d='M242.134,98.3A63,63,0,0,1,169,98.3a63,63,0,0,1-73.134,0A62.035,62.035,0,0,1,59.3,110C26.549,110,0,85.376,0,55S26.549,0,59.3,0A62.035,62.035,0,0,1,95.866,11.7,63,63,0,0,1,169,11.7a63,63,0,0,1,73.134,0A62.035,62.035,0,0,1,278.7,0C311.451,0,338,24.624,338,55s-26.549,55-59.3,55A62.035,62.035,0,0,1,242.134,98.3Z' stroke='none'/%3E%3Cpath d='M 278.7017517089844 109 C 286.5814514160156 109 294.224365234375 107.5690383911133 301.4181213378906 104.7469177246094 C 304.8742065429688 103.3910827636719 308.2073364257812 101.7130432128906 311.3250122070312 99.75949859619141 C 314.4119262695312 97.82516479492188 317.3144226074219 95.60399627685547 319.951904296875 93.15770721435547 C 322.5880737304688 90.71262359619141 324.9810791015625 88.0225830078125 327.0645141601562 85.16229248046875 C 329.1666259765625 82.27629089355469 330.9718627929688 79.19145965576172 332.4302062988281 75.99358367919922 C 335.4624938964844 69.34408569335938 337 62.28079223632812 337 55 C 337 47.71920776367188 335.4624938964844 40.65596008300781 332.4302062988281 34.00641632080078 C 330.9718627929688 30.80854225158691 329.1666259765625 27.7237491607666 327.0645141601562 24.83774948120117 C 324.9810791015625 21.9774169921875 322.5880737304688 19.28737449645996 319.951904296875 16.8422908782959 C 317.3144226074219 14.39599990844727 314.4119262695312 12.17483329772949 311.3250122070312 10.24050045013428 C 308.2073364257812 8.286958694458008 304.8741760253906 6.608916759490967 301.4181213378906 5.253083229064941 C 294.2243347167969 2.430958271026611 286.5814514160156 1 278.7017517089844 1 C 272.0578002929688 1 265.5409851074219 2.026916742324829 259.3324584960938 4.05216646194458 C 253.3344116210938 6.008791446685791 247.7460784912109 8.853875160217285 242.7227478027344 12.50833320617676 L 242.1344604492188 12.93629169464111 L 241.5461730957031 12.50833320617676 C 236.5227966308594 8.853875160217285 230.9344940185547 6.008791446685791 224.9364166259766 4.05216646194458 C 218.7278747558594 2.026916742324829 212.2111206054688 1 205.5671234130859 1 C 198.9231719970703 1 192.4064178466797 2.026875019073486 186.1979217529297 4.052124977111816 C 180.1998748779297 6.008708477020264 174.6115875244141 8.853791236877441 169.5882873535156 12.50825023651123 L 169 12.93620872497559 L 168.4117126464844 12.50825023651123 C 163.3883819580078 8.853750228881836 157.8001251220703 6.008708477020264 151.8020782470703 4.052124977111816 C 145.5935821533203 2.026875019073486 139.0768280029297 1 132.4328308105469 1 C 125.7888717651367 1 119.272087097168 2.026916742324829 113.0635452270508 4.05216646194458 C 107.0654983520508 6.008791446685791 101.477165222168 8.853875160217285 96.45383453369141 12.50833320617676 L 95.86553955078125 12.93629169464111 L 95.27725219726562 12.50833320617676 C 90.25391387939453 8.853875160217285 84.66558074951172 6.008791446685791 78.66754150390625 4.05216646194458 C 72.45899963378906 2.026916742324829 65.94220733642578 1 59.29824829101562 1 C 51.41854095458984 1 43.77566528320312 2.430958271026611 36.58187484741211 5.253083229064941 C 33.12583160400391 6.608916759490967 29.79266738891602 8.286958694458008 26.67499923706055 10.24050045013428 C 23.58808326721191 12.17483329772949 20.68558311462402 14.39599990844727 18.0480842590332 16.8422908782959 C 15.41191673278809 19.28737449645996 13.01891708374023 21.9774169921875 10.9355001449585 24.83774948120117 C 8.833374977111816 27.7237491607666 7.028124809265137 30.80854225158691 5.569791793823242 34.00641632080078 C 2.537499904632568 40.65596008300781 1 47.71920776367188 1 55 C 1 62.28079223632812 2.537499904632568 69.34408569335938 5.569791793823242 75.99358367919922 C 7.028124809265137 79.19145965576172 8.833374977111816 82.27629089355469 10.9355001449585 85.16229248046875 C 13.01891708374023 88.0225830078125 15.41191673278809 90.71262359619141 18.0480842590332 93.15770721435547 C 20.68558311462402 95.60399627685547 23.58808326721191 97.82516479492188 26.67499923706055 99.75949859619141 C 29.79266738891602 101.7130432128906 33.12579345703125 103.3910827636719 36.58187484741211 104.7469177246094 C 43.7756233215332 107.5690383911133 51.41854095458984 109 59.29824829101562 109 C 65.94220733642578 109 72.45899963378906 107.9730834960938 78.66754150390625 105.9478302001953 C 84.66558074951172 103.9912109375 90.25391387939453 101.146125793457 95.27725219726562 97.49166870117188 L 95.86553955078125 97.06370544433594 L 96.45383453369141 97.49166870117188 C 101.477165222168 101.146125793457 107.0654983520508 103.9912109375 113.0635452270508 105.9478302001953 C 119.272087097168 107.9730834960938 125.7888717651367 109 132.4328308105469 109 C 139.0768280029297 109 145.5935821533203 107.9731216430664 151.8020782470703 105.9478759765625 C 157.8000793457031 103.9912490844727 163.3883819580078 101.1462097167969 168.4117126464844 97.49175262451172 L 169 97.06378936767578 L 169.5882873535156 97.49175262451172 C 174.6116180419922 101.1462097167969 180.1999206542969 103.9912490844727 186.1979217529297 105.9478759765625 C 192.4064178466797 107.9731216430664 198.9231719970703 109 205.5671234130859 109 C 212.2111206054688 109 218.7278747558594 107.9730834960938 224.9364166259766 105.9478302001953 C 230.9344940185547 103.9912109375 236.5227966308594 101.146125793457 241.5461730957031 97.49166870117188 L 242.1344604492188 97.06370544433594 L 242.7227478027344 97.49166870117188 C 247.7460784912109 101.146125793457 253.3344116210938 103.9912109375 259.3324584960938 105.9478302001953 C 265.5409851074219 107.9730834960938 272.0578002929688 109 278.7017517089844 109 M 278.7017517089844 110 C 264.9055480957031 110 252.2086181640625 105.6292495727539 242.1344604492188 98.30033111572266 C 232.0602569580078 105.6292495727539 219.3633728027344 110 205.5671234130859 110 C 191.7709655761719 110 179.0741729736328 105.6293334960938 169 98.3004150390625 C 158.9258270263672 105.6293334960938 146.2290802001953 110 132.4328308105469 110 C 118.6366271972656 110 105.9397048950195 105.6292495727539 95.86553955078125 98.30033111572266 C 85.79137420654297 105.6292495727539 73.09445953369141 110 59.29824829101562 110 C 26.54870796203613 110 2.842170943040401e-14 85.37570953369141 2.842170943040401e-14 55 C 2.842170943040401e-14 24.62433242797852 26.54870796203613 1.4210854715202e-14 59.29824829101562 1.4210854715202e-14 C 73.09445953369141 1.4210854715202e-14 85.79137420654297 4.370749950408936 95.86553955078125 11.69966697692871 C 105.9397048950195 4.370749950408936 118.6366271972656 1.4210854715202e-14 132.4328308105469 1.4210854715202e-14 C 146.2290802001953 1.4210854715202e-14 158.9258270263672 4.370625019073486 169 11.69958305358887 C 179.0741729736328 4.370625019073486 191.7709655761719 1.4210854715202e-14 205.5671234130859 1.4210854715202e-14 C 219.3633728027344 1.4210854715202e-14 232.0602569580078 4.370749950408936 242.1344604492188 11.69966697692871 C 252.2086181640625 4.370749950408936 264.9055480957031 1.4210854715202e-14 278.7017517089844 1.4210854715202e-14 C 311.4512939453125 1.4210854715202e-14 338 24.62433242797852 338 55 C 338 85.37570953369141 311.4512939453125 110 278.7017517089844 110 Z' stroke='none' fill='%23b36b77'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      i{
        font-family: $ff-queensvar-italic;
      }
    }
  }


  @media (max-width: 768px) {

    .section-container {
      flex-direction: column-reverse;
    }
    .s-occasion__content {
      padding: 13px;
      min-height: unset;
    }

    .s-occasion__container {
      padding: 20px;
    }
    .subtitle {
      margin-bottom: 42px;
    }

    .s-occasion__list a {
      font-size: 26px;
      line-height: 32px;
    }

    .s-occasion__list li:not(:last-child) {
      margin-bottom: 26px;
    }

    .s-occasion__list a::before {
      content: none;
    }

    .s-occasion__text {
      margin: 42px 0 0;
      max-width: 240px;
    }

    .s-occasion__text > * {
      font-size: 14px;
      line-height: 18px;
    }

  }
}