@import "../mixins/rem";

.s-promo{
  padding: rem(94) 0 rem(100);
  background: var(--color-black);



  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary-light);
    .s-breadcrumbs {
      margin-bottom: rem(32);
    }
    &>*:not(.s-breadcrumbs):not(:last-child){
      margin-bottom: rem(31);
    }
  }
  &__text{
    max-width: rem(560);
    margin: 0 auto;
    text-align: center;
  }
  &__btn{
    margin-top: rem(17);
  }


  &.s-promo--bg {
    padding: 0;
    background-image: url("../assets/s-promo_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .s-promo__content {
      min-height: Min(60.741vh, 656px);
      padding: 50px 0 92px;
      justify-content: center;
    }
    .title-epic{
      text-align: center;
    }

    @media (max-width: 768px) {
      .title-epic {
        font-size: 48px;
        line-height: 50px;
      }
      .s-promo__content {
        padding: 50px 0 72px;
        min-height: unset;
      }

    }
  }
  &.s-promo--big {
    padding: 0;
    .container {
      padding: 0;
    }
    .s-promo {
      &__container {
        display: flex;
      }

      &__content {
        align-items: flex-start;
        width: 50%;
        flex-shrink: 0;
        padding: 58px 36px 68px;
        .s-breadcrumbs{
          margin-bottom: rem(16);
        }

        @media (min-width: 769px) {
          min-height: Min(52vh, 35rem);
        }
      }

      &__img {
        width: 50%;
        height: auto;
        position: relative;
        overflow: hidden;
        &::before {
          content: none;
        }
        &::after{
          background-color: #1c3d47
        }
        & > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__text {
        margin: auto 0 0;
        max-width: rem(600);
        text-align: left;
      }
    }
  }



  @media (min-width: 769px) {
    &:not(.s-promo--big) .title-epic{
      max-width: rem(1090);
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    padding: 60px 0 50px;

    &__content{
      .s-breadcrumbs {
        margin-bottom: 6px;
      }
      & > :not(.s-breadcrumbs):not(:last-child) {
        margin-bottom: 2px;
      }
    }
    &.s-promo--big {
      .s-promo__container {
        flex-direction: column-reverse;
      }

      .s-promo__content {
        width: 100%;
        padding: 30px 16px 40px;
      }

      .s-promo__img {
        width: 100%;
      }

      .s-promo__text {
        margin-top: 29px;
      }
    }
  }
}