@import "../mixins/rem";

.s-ticker{
  padding-top: rem(110);
  background-image: url('../assets/round_bg.svg');
  background-position: top left;
  background-repeat: repeat;
  background-size: rem(192);
  overflow: hidden;
  .marquee{
    padding-bottom: rem(93);
    background: var(--color-primary-dark);
    font-size: rem(152);
    line-height: rem(194);
    color: var(--color-primary-light);
    white-space: nowrap;
    font-family: $ff-queensvar;
    i{
      font-family: $ff-queensvar-italic;
    }
    .marquee_unit {
      flex-shrink: 0;
      display: flex;
      align-items: flex-end;
      &>*{
        flex-shrink: 0;
      }
    }
    .marquee_offset {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: rem(194);
    }
    .marquee_content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }

  &__badge {
    width: rem(320);
    height: rem(152);
    position: relative;
    display: block;
    line-height: 0;
    padding: 0 rem(84) rem(10);
    flex-shrink: 0;
    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(34% - 3.571rem);
      height: 34%;
      object-fit: contain;
    }
    &-rotate{
      animation: rotation 8s infinite linear;
    }
  }

  @media (max-width: 1560px) and (min-width: 769px){
    .marquee {
      padding-bottom: 3.813rem;
      font-size: 7.5rem;
    }
    .s-ticker__badge {
      transform: translateY(-11px);
    }

  }
  @media (max-width: 768px) {
    padding-top: 52px;
    background-size: 95px 94px;
    .marquee {
      padding-bottom: 36px;
      padding-top: 9px;
      font-size: 84px;
      line-height: 108px;
    }

    .marquee .marquee_offset {
      height: 108px;
    }

    .s-ticker__badge {
      width: 163px;
      height: 95px;
      padding: 0 36px 6px;
    }

    .s-ticker__badge-img {
      top: 48%;
      width: calc(34% - 23px);
    }

  }
}