@import "../mixins/rem";

.s-contacts{
  background-color: var(--color-black);
  background-image: url("../images/s-contacts_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(94) 0 rem(35);

  &__form {
    margin: rem(84) auto 0;
    max-width: 845px;
    &-row {
      display: flex;
      margin: 0 rem(-25);
      &:not(:last-child){
        margin-bottom: rem(40);
      }
    }
    &-input{
      margin: 0 rem(25);
      flex-basis: 0;
      flex-grow: 1;
    }
    &-submit{
      margin-top: rem(53);
      display: flex;
      justify-content: center;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-primary-light);
    margin-top: rem(43);
  }



  @media (max-width: 768px) {
    padding: 30px 0 40px;
    background-image: url("../images/s-header_menu-bg.svg");

    &__form {
      margin: 50px auto 0;
      &-row {
        margin: 0;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 36px;
        }
      }
      &-input {
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 36px;
        }
      }
      &-submit {
        margin-top: 30px;
      }
    }

    &__bottom {
      margin-top: 30px;
    }

  }
}