@import "../mixins/rem";

.s-recent{
  margin-bottom: rem(136);
  &__slider{
    padding: rem(36) 0;
    border-top: 1px solid rgba(31, 69, 77, 0.2);
    border-bottom: 1px solid rgba(31, 69, 77, 0.2);
  }
  &__btn{
    display: flex;
    justify-content: center;
    margin-top: rem(68);
  }
  @media (max-width: 768px) {
    margin-bottom: 68px;
    overflow: hidden;

    .s-recent__slider {
      padding: 0;
      border-top: none;
      border-bottom: none;
      width: 92.4%;
      margin-left: 0;
      overflow: visible;
    }
    .s-recent__btn {
      margin-top: 32px;
    }
  }
}