@import "../mixins/rem";

.s-results{
  padding-bottom: rem(152);
  overflow: hidden;
  &__head{
    background: #fff;
    padding: rem(52) 16px;
    display: flex;
    justify-content: center;
  }
  &__form {
    display: flex;
    max-width: rem(536);
    width: 100%;
    .s-input {
      flex-basis: 0;
      flex-grow: 1;
      margin-right: rem(16);
    }
  }
  &__category {
    padding: rem(46) 0;
    border-bottom: 1px solid rgba(31, 69, 77, 0.2);
    &-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul{
      display: flex;
      align-items: center;
      &>*:not(:last-child){
        margin-right: rem(10);
      }
      .s-button{
        font-size: Max(0.875rem, 10px);
        letter-spacing: rem(.3);
      }
    }
    [class*="title-"] {
      position: relative;
      top: rem(4);
    }

    .is-active .s-button {
      pointer-events: none;
      background: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
      color: var(--color-primary-light);
    }

  }


  &__container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px -10px;
    &>*{
      width: calc(50% - 10px);
      margin: 0 5px 10px;
    }

    .s-post-card__category .tag {
      background: transparent;
    }

  }
  @media (max-width: 991px) {
    .s-results__category-container {
      flex-direction: column;
    }

    .s-results__category {
      padding-bottom: 20px;
      [class*="title-"] {
        top: unset;
        margin-bottom: 15px;
      }
      ul {
        flex-wrap: wrap;
        justify-content: center;
        & > * {
          margin-bottom: 10px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding-bottom: 70px;
    &__head {
      padding: 50px 16px;
      .s-input > input {
        height: 100%;
      }
    }

    .s-results__category {
      padding-bottom: 16px;
      padding-top: 25px;
    }
    .s-results__category [class*="title-"] {
      margin-bottom: 22px;
    }

    &__container {
      margin: 0;
      flex-direction: column;
      &>*{
        width: 100%;
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 36px;
        }
      }
    }


  }
}