@import "../mixins/rem";

.s-similar{

  .s-card{
    padding: rem(14) rem(14) rem(22);
    &:not(:first-child){
      border-left: 1px solid;
    }
  }
  &__btn{
    padding: rem(68) 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
  }

  @media (max-width: 768px) {



  }
}