@import "../mixins/rem";

.s-text-img{

  .section-img::before {
    padding-top: 37%;
  }
  &__img{
    padding: 14px;
  }

  @media (max-width: 768px) {
    &__img{
      padding: 10px;
    }
    .section-img::before {
      padding-top: 70%;
    }
  }
}